@if (course(); as item) {
  <article class="course-card">
    <div class="course-cover" [class]="item.category">
      <span class="course-price-tag">{{ priceText(item.price, item.isFree) }}</span>
    </div>
    <div class="course-body">
      <h3>{{ item.title }}</h3>
      <ul class="course-details">
        <li>
          <ng-icon name="lucideCalendarDays" size="16"></ng-icon>
          <span>{{ item.date }}</span>
        </li>
        <li>
          <ng-icon name="lucideGraduationCap" size="16"></ng-icon>
          <span>{{ item.levelLabel }}</span>
        </li>
        <li>
          <ng-icon name="lucideLayers" size="16"></ng-icon>
          <span>{{ item.categoryLabel }}</span>
        </li>
      </ul>
      <button class="course-more" type="button" (click)="toggleDetails()" [class.open]="open()">
        عرض باقي التفاصيل
        <ng-icon name="lucideChevronDown" size="16"></ng-icon>
      </button>
      @if (open()) {
        <p class="course-extra">{{ item.description }}</p>
      }
      <div class="course-actions">
        <a class="btn btn-ghost" [routerLink]="['/courses', item.id]">الدخول للكورس</a>
        @if (!item.isFree) {
          <a class="btn btn-primary" routerLink="/register">الإشتراك في الكورس !</a>
        }
      </div>
    </div>
  </article>
}
